body {
  font-family: 'Roboto', sans-serif;
  background-color: #140d3d;
  padding: 0 0 100px 0;
  margin: 0;
}

.GameAnimation {
  display: block;
  width: 100%;
  max-width: 802px;
  height: 336px;
  margin: 0 auto;
}

.GameControl {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  z-index: 2;
}

.GameButton {
  padding: 12px 48px;
  border: 0;
  border-radius: 6px;
  background-color: green;
  text-align: center;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darkgreen;
  }

  &.disabled {
    background-color: #cccccc;
    color: green;
    cursor: not-allowed;
  }
}

.GameContent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GameMarker {
  background-color: rgba(#140d3d, 0.8);
  background-image: url('../assets/img/marker.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 120px;
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -30px;
  border-radius: 100px;
  z-index: 1;
}

.GameWheel {
  max-width: 600px;
  width: 100%;
  height: auto;
}
