body {
  font-family: "Roboto", sans-serif;
  background-image: url('../assets/img/header.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #140D3D;
  padding: 5% 0 0;
  margin: 0;
}

.GameHeader {
  background-image: url('../assets/img/showdown-off.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  max-width: 55%;
  padding-top: 25%;
  margin: 0 auto;
}

.GameControl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.GameButton {
  padding: 12px 48px;
  border: 0;
  border-radius: 6px;
  background-color: green; // temp
  text-align: center;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darkgreen; // temp
  }

  &.disabled {
    background-color: #cccccc; // temp
    color: green; // temp
    cursor: not-allowed;
  }
}

.GameContent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GameMarker {
  background-color: rgba(#140D3D, 0.8);
  background-image: url('../assets/img/marker.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -40px;
  border-radius: 100px;
}

.GameWheel {
  width: 100%;
}
