body {
  font-family: "Roboto", sans-serif;
  // background-image: url('../assets/img/header.png');
  // background-size: 100% auto;
  // background-repeat: no-repeat;
  // background-color: #140D3D;
  padding: 0;
  margin: 0;
}

.GameHeader {
  // background-image: url('../assets/img/showdown-off.png');
  // background-size: 100% auto;
  // background-repeat: no-repeat;
  max-width: 1000px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  // width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // overflow: hidden;
}

// .GameAnimation {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   width: 100%;
//   display: none;
// }

.GameControl {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #140D3D;
  padding: 30px 0;
  z-index: 2;
}

.GameButton {
  padding: 12px 48px;
  border: 0;
  border-radius: 6px;
  background-color: green; // temp
  text-align: center;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darkgreen; // temp
  }

  &.disabled {
    background-color: #cccccc; // temp
    color: green; // temp
    cursor: not-allowed;
  }
}

.GameContent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GameMarker {
  background-color: rgba(#140D3D, 0.8);
  background-image: url('../assets/img/marker.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 120px;
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -30px;
  border-radius: 100px;
  z-index: 1;
}

.GameWheel {
  max-width: 600px;
  width: 100%;
  height: auto;
}
